{% extends 'base.html' %}

{% block content %}
<main class='container py-5'>
    <section class='card card-body'>
    
        <h1 display-1 text-center>Django APP</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur maxime minima 
            necessitatibus eligendi odio aliquid, fugiat sequi suscipit illo reiciendis veniam 
            doloribus repellendus nam inventore laboriosam eos natus omnis. Alias!</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">signin</a>
            <a  class="btn btn-primary" href="/signup/">signup</a>
        </div>

        
    </section>

</main>
{% endblock  %}