{% extends 'base.html' %}

{% block content %}                                 
    
    <main class="container">
        <div class="row">
            <section class="col-md-4 offset-md-4 mt-5">  {% comment "offset -md-4" %} colocar la fila al medio{% endcomment %}


                <form method="POST" class= "card card-body  text-center">
                    <h1 class="text-center">signup</h1>
                    {{error}}
                    {% csrf_token %}       {% comment %}es un token que cumple la funcion de seguridad para no ser replicado en el servidor {% endcomment %}
                    {% comment %} {{form.as_table }}      .as_p  es una propiedad que ordena el formulario {% endcomment %}

                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="write your username">
                    </div>
                    <div class="mb-3">
                        <label for="password1">Password</label>
                        <input type="password" name="password1" id="password1" class="form-control" placeholder="write your password">
                    </div>
                    <div class="mb-3">
                        <label for="password2">Confirm your Password</label>
                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm your Password">
                    </div>
                    <button class="btn btn-primary">
                        signup
                    </button>
                </form>


            </section>
        </div>

    </main>

{% endblock %}



